.chatbot-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
   
}
.chatbot-image{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.message-wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
   
  
    
}
.init-message{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px; 
    height: auto;
    width: 75vw;
    background-color: rgba(8, 48, 51, 1.5); 
    border-radius: 40px;
    margin-top: 25px;

}
.user-message{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px; 
    height: auto;
    width: 75vw;
    background-color: rgba(8, 48, 51, 1.5); 
    border-radius: 40px;
    margin-top: 25px;

}
.bot-message{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px; 
    height: auto;
    width: 75vw;
    background-color: rgba(8, 48, 51, 1.5); 
    border-radius: 40px;
    margin-top: 25px;

}
.message-text{
    color:#1DEDBD ;
    font-size: medium;
    max-height: 15vh;
    width: 60vw;
    text-align: justify;
    
}
.chatbot-form{
    display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 15vh;
  width: 80vw;
 
 
  
}
.chatbot-input{
    height: 3vh;
    width: 60vw;
    border-radius: 30vw;
    font-size: medium;
    padding: 15px;
    background-color: white;
}

.chat-button{
   border:none;
    background-color: rgba(8, 48, 51, 1.5);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 13px;   
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.chat-button:hover {
    transform: scale(1.1); 
  }

@media screen and (max-width: 500px) {
    .message-wrapper{
        height: 40vh;
        
    }
   
    .bot-message{
        display: flex;
        flex: 1;
    }
    .message-text{
        line-height: normal;
        font-size: small;
        
    }
    .chatbot-form{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 80vw;
       

    }
    .chatbot-input{
        height: 2vh;
        width: 100vw;
        border-radius: 30vw;
        font-size: small;
        padding: 15px;
        background-color: white;

    }
}

