.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    background-color:  rgba(8, 48, 51, 1.5);
    margin-top: 10vh;
    
}
.footer-text{
    text-align: center;
    color: #1DEDBD;
}


@media screen and (max-width: 390px) {
    .footer-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
        background-color:  rgba(8, 48, 51, 1.5);
        margin-top: 10vh;
       
        padding: 5px;
       
    }
    .footer-text{
        font-size: small;
    }
}
