.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
 
    background-color:  rgba(8, 48, 51, 1.5);
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.footer-text{
    color: #1DEDBD;
}


@media screen and (max-width: 390px) {
    .footer-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 90vw;
        background-color:  rgba(8, 48, 51, 1.5);
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 5px;
        background-color: red;
    }
    .footer-text{
        font-size: small;
    }
}
