.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vw;
 
}

.header-pic{
    height: 55px;
    width: 55px;
    margin-right: 4vw;
}
.header-text{
    background-color:  rgba(8, 48, 51, 1.5);
    color: #1DEDBD;
    font-size: medium;
    border-radius: 7px;
    padding: 8px;
   /* font-family: 'Nunito', sans-serif;
    font-family: 'Orbitron', sans-serif;  */
}

@media screen and (max-width: 600px) {
    .header-wrapper{
        margin-top: 10vh;
    }
    .header-text{
        font-size: small;
    }
}