
.card-project{
    box-shadow: 0 0 20px rgba(0, 0,0,0.2);
        width: 75vw;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        background: white;
}
.project-image{

    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
    
    
}
 .project-stack{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 5px;
    margin-top: 30px;
}

.project-stack li{
    background:  #0B161A;
    border-radius: 5%;
    padding: 7px;
    text-align: center;
    color: #1DEDBD;
    font-size: 15px;
    list-style: none;
}
.project-main{
    text-align: left;
    margin-left: 4em;
      
}

.project-main-header{
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.project-name{
    margin-bottom: 8px;
    color: #0B161A
   
}

 .project-body{
    
    font-size: 21px;
    text-align: justify;
    line-height: 30px;
    color: #124035;
   font-weight:500;
    padding: 10px;
    
    
}


.project-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

 }

 .project-link {
    text-decoration: none;
    cursor: pointer;
    display: inline-block; /* Ensures the link can be transformed without affecting other elements */
  
    /* Apply initial styles */
    transform: scale(1);
    color: #680202;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  /* Style for the link when hovered */
  .project-link:hover {
    transform: scale(1.1); /* Increase the scale to 110% when hovered */
    color: #820303; /* Change the color when hovered */
  }
  
 .project-link-live{
    height: 30px;
    width: 30px;
    border-radius: 15px;
 }

 @media screen and (min-width: 1000px) {
    .card-project{
       
        display: flex;
        flex-direction: row;
       
    }
    .project-buttons{
        justify-content: space-evenly;
    }
  }